$color-error: #f2293b;
$color-warning: #f49c22;
$color-success: #63dd65;
$color-loading: #6facde;
$color-selected: $color-loading;
$color-indeterminate: #888;
$color-background: #303030;

$color-text: #ffffff;
$color-text-faded: #b4b4b4;

$color-header: #6facde;

.intent-error {
  color: $color-error;
}

.intent-warning {
  color: $color-warning;
}

.intent-success {
  color: $color-success;
}
