$color-error: #f2293b;
$color-warning: #f49c22;
$color-success: #63dd65;
$color-loading: #6facde;
$color-selected: $color-loading;
$color-indeterminate: #888;
$color-background: var(--color-background);

$color-text: var(--color-text);
$color-text-faded: var(--color-text-faded);

.intent-error {
  color: $color-error;
}

.intent-warning {
  color: $color-warning;
}

.intent-success {
  color: $color-success;
}
