ul.settings-list {
  list-style: none;
  padding: 0;

  li {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > *:not(input[type="checkbox"]) {
      flex: 4;
      display: inherit;
    }

    > span.label {
      flex: 2;
    }
  }
}
