.task-filter-settings-form {
  .badge-display-type,
  .task-sort-type {
    display: flex;
    align-items: center;

    .label {
      margin-right: 4px;
    }

    select {
      flex: 1;
      max-width: 400px;
    }
  }

  .badge-display-type {
    margin-top: 6px;
  }
}
