.connection-settings {
  .input-center {
    display: flex;
    align-items: center;
  }

  .port-setting {
    max-width: 70px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
